*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.text-primary{
    color: #FD6E0A;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
    margin-bottom: 50px;
}
.btn-primary{
    color: white;
    height: 64px;
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    padding: 18px 35px;
}
.banner{
    display: flex;
    align-items: center;
    margin: 0 100px;
}
.banner-sub-title{
    font-size: 45px;
}
.banner-title{
    font-size: 85px;
}
.banner-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 10px;
}
.header{
    background-color: #FEF8F4;
    background-image: url(images/header_bg.png), url(images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
/* main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* about section */
.about{
    margin-top: 130px;
    background: #FEF9F4;
    padding: 100px;
    border-radius: 5px;
    
}
.section-title{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}
.section-description{
    color: #757575;
    font-size: 18px;
}
/* info */
.about-info-container{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
.info-title{
    color: #757575;
    font-size: 18px;
}
.info-bold{
    font-weight: bold;
}
.info-description{
    font-weight: bold;
}
