*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.text-primary{
    color: #FD6E0A;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
.btn-primary{
    color: white;
    height: 64px;
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    padding: 18px 35px;
}
.banner{
    display: flex;
    align-items: center;
    margin: 0 200px;
}
.banner-sub-title{
    font-size: 45px;
}
.banner-title{
    font-size: 85px;
}
.banner-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 10px;
}